.bg-404 {
  width: 100%;
  height: 100%;
  @include absolute(auto, auto, 0, 0);
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include md {
    @include absolute(0, auto, auto, 0);
    img {
      object-position: top;
    }
  }
}

.error-404 {
  &-content {
    background-color: rgba(29, 29, 27, .4);
    @include flex(column, center, flex-start, flex-start);
    border-radius: 1rem;
    padding: 1.6rem;
    position: relative;
    margin-top: 12rem;
    margin-bottom: 3rem;
    // top: 16rem;
    h1 {
      color: $primary;
      @include font(9rem, 900, 1em);
      letter-spacing: 8px;
      margin: .8rem 0;
    }
    h3 {
      // width: 40%;
      @include font(2.4rem, 300, 1.4em);
      text-align: left;
      color: $white;
    }
    .btn {
      margin-top: .8rem;
      padding: 1.6rem .8rem;
    }
    @include md {
      margin-top: 6rem;
    }
  }
}