.home-carousel {
    .cards-experiencias {
        .row {
            @include flex(column, flex-start, flex-start, flex-start);
        }
    }

    h2,
    h3 {
        text-align: left;
    }

    .cards-swiper {
        width: 100%;
        padding: 0 1.5rem;

        .swiper-wrapper {
            width: 100%;
            padding: 1.5rem 0;
        }

        .swiper-slide {
            width: 100%;
            margin-top: 0;
        }
    }

    .cards-list {
        width: 100%;
        position: relative;
        @include flex(row, flex-start, flex-start, flex-start);
        flex-wrap: nowrap;
        margin-top: 1.6rem;
        padding-bottom: 3.2rem;
        margin-bottom: 4rem;
        border-top: none;
        overflow-x: auto;
        overflow-y: visible;

        .cards-list__item {
            margin-top: 0;
        }
    }
}