.home-carousel {
    .cards-experiencias {
        .row {
            @include flex(column, flex-start, flex-start, flex-start);
        }
    }

    h2,
    h3 {
        text-align: left;
    }

    .cards-swiper {
        width: 100%;
        padding: 0 1.5rem 1.5rem;
        margin-bottom: 3rem;
        position: relative;

        &::before {
            content: '';
            width: 8rem;
            height: 100%;
            @include absolute(0, 0, auto, auto);
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
            z-index: 999;
            pointer-events: none;
        }

        @include xs {
            &::before {
                display: none;
            }
        }

        .swiper-wrapper {
            width: 100%;
            padding: 1.5rem 0;
            box-sizing: border-box;
        }

        .swiper-slide {
            width: 100%;
            margin-top: 0;

            h2 {
                @include font(2.4rem, 900, 1.2em);

                @include xs {
                    font-size: 2rem;
                }
            }
        }

        .swiper-control {
            @include flex(row, center, center, center);
            margin-top: 1.6rem;
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 2.4rem;
            height: 2.4rem;

            i {
                display: inline-block;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .swiper-button-disabled {
            opacity: 0.2;
        }

        .swiper-pagination {
            margin: 0 1.6rem;

            span {
                width: 8rem;
                height: 5px;
                display: inline-block;
                background-color: $white-secondary;
            }

            .swiper-pagination-bullet-active {
                background-color: $primary;
            }
        }

    }
}