.workshop {
    .pick-date {
        width: 100%;
        padding-top: 2.8rem;
        @include flex(row, flex-start, center, center);
        flex-wrap: wrap;

        .controls-slide {
            @include flex(row, flex-start, center, center);

            .controls-slide-btn {
                a {
                    display: inline-block;
                    margin: 0 .8rem;

                    &:first-child {
                        margin-left: 0;
                    }
                }

                i {
                    display: inline-block;

                    img {
                        height: 2.4rem;
                    }
                }

                .swiper-button-disabled {
                    opacity: .3;
                }
            }

            .mes-active {
                margin-left: .8rem;

                h3 {
                    @include font(1.8rem, 500, 1.2em);
                    margin-bottom: 0;
                }
            }

            @include sm {
                order: 2;
                margin-bottom: 1.6rem;

                .controls-slide-btn {

                    i {
                        img {
                            height: 3.2rem;
                        }
                    }
                }

                .mes-active {

                    h3 {
                        font-size: 2rem;
                    }
                }
            }
        }

        .nav-date {
            @include flex(row, flex-end, center, center);

            .btn {
                min-width: auto;
                border: 2px solid $black;
                color: $black;
                font-size: 1.6rem;
                padding: .8rem 1.6rem;
                text-transform: none;

                margin-right: 2.4rem;

                &:hover {
                    background-color: $white-secondary;
                    color: $gray-02;
                }
            }

            .nav-pills {
                .nav-item {
                    margin: 0;

                    .nav-link {
                        min-width: 10rem;
                        @include font(1.6rem, 400, 1.2em);
                        padding: 1rem 1.2rem;
                        color: $primary;
                        background-color: $white;
                        border: 1px solid $primary;
                        border-radius: 0;
                        text-align: center;

                        &.active {
                            color: $white;
                            background-color: $primary;
                        }
                    }



                    &:first-child {
                        .nav-link {
                            border-bottom-left-radius: 3.2rem;
                            border-top-left-radius: 3.2rem;
                        }
                    }

                    &:last-child {
                        .nav-link {
                            border-bottom-right-radius: 3.2rem;
                            border-top-right-radius: 3.2rem;
                        }
                    }
                }
            }

            @include sm {
                order: 1;
                @include flex(row, space-between, center, center);
                margin-bottom: 3.2rem;
            }

            @include xxs {
                .nav-pills {
                    .nav-item {
                        .nav-link {
                            min-width: 7rem;
                        }
                    }
                }
            }
        }

        .tab-content {
            padding-top: 1.6rem;

            .tab-pane {
                text-align: center;
            }

            @include sm {
                order: 3;
            }
        }

        .swiper-container {
            border-bottom: 3px solid $primary;

            .swiper-slide {
                margin: 0;

                a {
                    @include flex(column, center, center, center);
                    padding: .8rem 0;
                    background-color: rgba(143, 36, 41, .3);
                    color: $black;

                    span {
                        @include font(1.2rem, 300, 1.2em);
                        color: $primary;
                        margin-bottom: .8rem;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &.number-day {
                            @include font(1.4rem, 400, 1.2em);
                            color: $black;
                            background-color: rgba(143, 36, 41, 0);
                            padding: .8rem;
                            border-radius: 50%;
                            transition: all .3s ease-in-out;
                        }
                    }

                    &:hover {
                        text-decoration: none;

                        span.number-day {
                            background-color: rgba(143, 36, 41, .2);
                        }
                    }

                    &.active {
                        span.number-day {
                            background-color: rgba(143, 36, 41, 1);
                            color: $white;
                        }
                    }

                    &.disabled {
                        opacity: .5;
                    }
                }
            }
        }

        .tab-hours {
            padding-top: 0;

            .list-hours {
                @include flex(row, flex-start, center, center);
                flex-wrap: wrap;

                li {
                    width: 20%;
                    height: 100%;

                    a {
                        width: 100%;
                        height: 100%;
                        padding: 2.4rem .8rem;
                        border: 1px solid $gray-02;
                        border-right: 1px solid transparent;
                        border-top: none;
                        @include flex(row, center, center, center);
                        flex-wrap: wrap;

                        @include font(1.4rem, 400, 1.2em);
                        color: $black;

                        transition: all .3s ease-in-out;

                        &:hover {
                            text-decoration: none;
                            color: $white;
                            border-color: $primary;
                            background-color: $primary;
                        }

                        &[disabled] {
                            background-color: $gray-01;
                            color: rgba(0, 0, 0, .3);
                            pointer-events: none;
                        }
                    }

                    &:last-child,
                    &:nth-child(5),
                    &:nth-child(10),
                    &:nth-child(15) {
                        a {
                            border-right: 1px solid $gray-02;
                        }
                    }

                    @include sm {
                        width: 50%;

                        &:last-child,
                        &:nth-child(even) {
                            a {
                                border-right: 1px solid $gray-02;
                            }
                        }
                    }
                }
            }
        }

        .ui-datepicker {
            width: 100% !important;
            position: relative;
            margin-top: 0;
        }
    }
}