header.bo-resellers {
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;

    .navMenu__list {
        .header-carrinho {
            color: #515356;

            .shopping-cart-icon {
                .badge-shopping {
                    color: #ffffff;
                }

                img {
                    -webkit-filter: invert(1);
                    filter: invert(1);
                }
            }

            label.language-dropdown {
                color: #515356;
                font-weight: bold;
            }

            .dropdown-icon {
                img {
                    -webkit-filter: invert(1);
                    filter: invert(1);
                }
            }
        }
    }
}

.bo-resellers {
    background: #f7f7f7;

    .cards-list__item {
        background: #f7f7f7;
    }

    .cards-list__item--content {
        background: #ffffff;
    }

    .content-wrap {
        padding-bottom: 0;
    }

    .container-seu-carrinho {
        border: 2px solid #CCCCCC;
    }

    .breadcrumb {
        background-color: #fff;
        margin-bottom: 0;
    }

    &-footer {
        background: #fff;
        padding: 35px 20px 21px;
        margin-top: -25px;
        border-top: 1px solid #D9DEE4;
        font-size: 13px;

        .brand {
            width: 100px;
            margin-left: 4px;
        }
    }
}