header.bo-resellers {
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    height: 8rem;

    .navMenu__list {
        .header-marca {
            @include flex(column, flex-start, flex-start, flex-start);

            .back-consola {
                @include flex(row, flex-start, center, center);
                margin-left: 4px;

                i {
                    display: inline-block;
                    height: 15px;
                    width: 15px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                        -webkit-filter: invert(1);
                        filter: invert(1);
                        transition: all .2s ease-in;
                    }
                }

                span {
                    @include font(1.4rem, 700, 1.4em);
                    margin-left: 4px;
                    color: $black;
                    transition: all .2s ease-in;
                }

                &:hover {
                    text-decoration: none;

                    i {
                        img {
                            -webkit-filter: invert(.7);
                            filter: invert(.7);
                            transition: all .2s ease-out;
                        }
                    }

                    span {
                        -webkit-filter: invert(.2);
                        filter: invert(.2);
                        transition: all .2s ease-out;
                    }
                }
            }
        }

        .header-carrinho {
            color: #515356;

            .profile {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 2rem;
                font-size: 1.4rem;
                line-height: 1.4em;

                span:first-child {
                    font-weight: 700;
                }
            }

            .shopping-cart-icon {
                .badge-shopping {
                    color: #ffffff;
                }

                img {
                    -webkit-filter: invert(1);
                    filter: invert(1);
                }
            }

            label.language-dropdown {
                color: #515356;
                font-weight: bold;
            }

            .dropdown-icon {
                img {
                    -webkit-filter: invert(1);
                    filter: invert(1);
                }
            }
        }
    }
}

.bo-resellers {
    background: #f7f7f7;

    .cards-list__item {
        background: #f7f7f7;
    }

    .cards-list__item--content {
        background: #ffffff;
    }

    .content-wrap {
        padding-bottom: 0;
    }

    .container-seu-carrinho {
        border: 2px solid #CCCCCC;
    }

    .breadcrumb {
        background-color: #fff;
        margin-bottom: 0;
    }

    .container-btn-detalhes {
        padding: 2rem 0;
    }

    .btn {
        min-width: auto;
    }

    &-footer {
        background: #fff;
        padding: 35px 20px 21px;
        margin-top: -25px;
        border-top: 1px solid #D9DEE4;
        font-size: 13px;

        .brand {
            width: 100px;
            margin-left: 4px;
        }
    }
}

.bo-resellers.page-container {
    padding-top: 9rem;
}