.checkout-content {
  background-color: $white-secondary;
  padding-top: 3rem;
  .resumo-compra,
  .dados-pagamento-box {
    width: 100%;
    background-color: $white;
    padding: 3rem;
    border: 2px solid $gray-01;
    h2 {
      @include font(2rem, 900, 1em);
      margin: 0;
    }
    @include sm {
      padding: 3rem 1.5rem;
    }
  }
  .dados-pagamento {
    &-box {
      margin-bottom: 3rem;
    }
    &-title {
      width: 100%;
      @include flex(row, space-between, center, center);
      i {
        display: inline-block;
        height: 3rem;
        width: auto;
        img {
          height: 100%;
        }
      }
      @include xs {
        h2 {
          text-align: left;
        }
      }
    }
    &-metodo {
      .form-check {
        margin: 1.6rem 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .politicas-dados {
    margin-bottom: 3rem;
    li {
      margin-bottom: .8rem;
    }
  }
  .container-btn {
    background-color: #eeeeee;
    padding: 1.5rem;
    margin-bottom: 3rem;
    @include flex(row, space-between, center, center);
    .btn {
      padding: 1.6rem 3.2rem;
    }
    @include xs {
      @include flex(column, center, center, center);
      .btn {
        width: 80%;
        margin: 1.5rem;
      }
      .btn-secondary {
        order: 1;
      }
      .btn-outline-secondary {
        order: 2;
      }
    }
  }
  .resumo-compra {
    min-height: 35rem;
    height: 100%;
    text-align: right;
    table {
      thead {
        margin-bottom: 1.5rem;
      }
      th,
      td {
        text-align: left;
        &:last-child {
          text-align: right;
        }
      }
      th {
        font-size: 1.2rem;
      }
    }
    @include md {
      min-height: auto;
      margin-bottom: 3rem;
    }
  }
}