.div-wait,
.div-error {
  width: 100%;
  height: auto;
  padding: 3rem 0;
  margin-bottom: 6rem;
  @include font(1.6rem, 900, 1.2em);
  text-transform: uppercase;
  color: $primary;
  .row {
    @include flex(column, center, center, center);
  }
  i {
    width: 4rem;
    margin-bottom: 1.5rem;
  }
  p {
    width: 30%;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.icon-animate {
  width: 4rem;
  animation: opacityAnimation 2s infinite ease-in-out;
  img {
    animation: rotateImg 2s infinite ease-in-out;
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateImg {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}