.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30rem;
  background: $black;
  @include flex(row, center, center, center);
  @include sm {
    height: 25rem;
  }
  .row {
    @include flex(row, center, center, center);
    @include sm {
      @include flex(column, center, center, center);
    }
  }
  .footer-marca {
    width: 100%;
    height: 100%;
    position: relative;
    @include flex(row, center, center, center);
    a {
      height: 10rem;
      width: auto;
      display: inline-block;
      img {
        height: 100%;
        width: auto;
      }
    }
    @include sm {
      @include flex(row, center, center, center);
      margin-bottom: 12px;
      a {
        height: 4rem;
      }
    }
  }
  .footer-links {
    @include flex(column, center, flex-end, flex-end);
    @include sm {
      @include flex(column, center, center, center);
    }
  }
  .metodos-pagamento {
    @include flex(row, flex-end, center, center);
    flex-wrap: wrap;
    margin: 4px 0;
    .logo-visa {
      width: 5rem;
    }
    .logo-meowallet {
      width: 2.5rem;
    }
    li {
      width: 2.5rem;
      margin-left: 1rem;
      img {
        width: 100%;
      }
    }
    @include xs {
      order: 1;
      @include flex(row, center, center, center);
      .logo-visa {
        width: 6rem;
      }
      .logo-meowallet {
        width: 3.5rem;
      }
      li {
        width: 4rem;
      }
    }
  }
  .logoSmartmove {
    text-align: center;
    position: relative;
    margin: 4px 0;
    a {
      height: 2.5rem;
      display: inline-block;
      img {
        height: 100%;
      }
    }
    &:before {
      content: 'Powered by:';
      @include font(1rem, 300, 1.2em);
      color: #ffffff;
      transform: translateX(-75%);
      @include absolute(-0.75rem, auto, auto, 50%);
    }
    @include sm {
      margin-top: .8rem;
    }
  }
}