header {
  width: 100%;
  height: 10rem;
  background-color: $black;
  position: relative;
  @include sm {
    background-color: $primary;
    overflow: hidden;
  }
  .top-header {
    background-color: $primary;
    height: 25%;
    color: $black;
    @include flex(row, center, center, center);
    .row {
      @include flex(row, flex-end, center, center);
    }
    a {
      color: $white;
      @include font(1.2rem, 300, 1.2em);
      text-transform: uppercase;
      i {
        height: 1rem;
        width: auto;
        display: inline-block;
        margin-left: 4px;
        img {
          height: 100%;
          width: auto;
        }
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .navMenu {
    height: 75%;
    padding: .8rem 0;
    @include flex(row, center, center, center);
    &__list {
      width: 100%;
      position: relative;
      @include flex(row, center, center, center);
      .header-morada {
        @include flex(row, flex-start, center, center);
        i {
          display: inline-block;
          height: 3rem;
          width: auto;
          margin-right: 1.5rem;
          img {
            width: auto;
            height: 100%;
          }
        }
        p {
          color: $white;
          @include font(1.4rem, 300, 1.4em);
          margin-bottom: 0;
        }
      }
      .header-marca {
        text-align: center;
      }
      .header-carrinho {
        @include flex(row, flex-end, center, center);
        color: $white;
        .shopping-cart-icon {
          display: inline-block;
          height: 3rem;
          width: auto;
          position: relative;
          margin-right: 1.5rem;
          img {
            height: 100%;
            width: auto;
          }
        }
        &__infos {
          position: relative;
          @include flex(column, center, flex-start, flex-start);
          @include font(1.6rem, 300, 1.2em);
          text-transform: uppercase;
          cursor: pointer;
          span {
            margin: 2px 0;
          }
          .carrinho-valor {
            @include font(1.8rem, 900, 1.2em);
          }
          .dropdown-icon {
            width: 1.2rem;
            height: auto;
            display: inline-block;
            @include absolute(auto, 0, 6px, auto);
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
  .marca {
    img {
      height: 5rem;
    }
    @include md {
      @include flex(row, center, center, center);
    }
  }
}

//MENU MOBILE
.navMenu-mobile {
  width: 100%;
  display: none;
  overflow-x: hidden;
  @include sm {
    @include flex(row, space-between, center, center);
    margin-bottom: 1.5rem;
  }
  .menuMobile {
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: $primary-dark;
    color: $white;
    position: fixed;
    // @include flex(column, flex-start, center, center);
    top: 0;
    left: 0;
    padding: 3rem 2rem 2rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transform: translateX(100%);
    transition: all .3s ease-out;
    z-index: 10;
    ul {
      width: 100%;
      padding: 1.5rem 0;
      @include font(2rem, 700, 1em);
      position: relative;
      text-align: center;
      li {
        margin: 3rem 0;
        a {
          transition: all .3s ease-out;
          color: $white;
          &:hover {
            color: $gray-01;
            text-decoration: none;
            transition: all .3s ease-out;
          }
        }
      }
    }
  }
  .menu_open {
    transform: translateX(0);
    transition: all .3s ease-out;
  }
  .container-btn {
    width: 100%;
    text-align: right;
  }
  .btnMenu {
    display: inline-block;
    padding: .5rem;
    z-index: 2;
    transition: all .3s ease-out;
    img {
      width: 2rem;
    }
    &:hover {
      transform: scale(.9);
      transition: all .3s ease-out;
    }
    &__close {
      margin-bottom: 1.5rem;
      @include absolute(4.5rem, 1.5rem, auto, auto);
      img {
        width: 1.5rem;
      }
    }
  }
}

@keyframes open-user-dropdown {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes icon-up-rotate {
  0% {
    opacity: 0;
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-180deg);
  }
}