form {
  width: 100%;
  margin-top: 3rem;
  @include flex(row, flex-start, center, flex-start);
  flex-wrap: wrap;
  .container-input {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
  }
  input,
  select {
    width: 100%;
    height: 4rem;
    padding: .5rem 1.5rem;
    border: 1px solid $gray-02;
    border-radius: 3px;
    @include font(1.6rem, 300, 1em);
    color: $black;
    &:focus {
      // outline: none;
      border-color: $black;
    }
    &:disabled {
      background-color: #f0f0f0;
      border-color: $gray-01;
    }
  }
  option {
    padding: .75rem 0;
  }
  label {
    width: 100%;
    text-align: left;
    @include font(1.6rem, 700, 1em);
    color: $black;
    &:disabled {
      color: $gray-01;
    }
  }
  .input-validate {
    border: 2px solid $primary;
    color: $primary;
  }
  span.input-validate {
    color: $primary;
    @include font(1.2rem, 700, 1em);
    @include absolute(auto, auto, .4rem, 1.5rem);
    border: none;
  }
}

.dados-aviso {
  @include font(1.4rem, 300, 1em);
  font-style: italic;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

@keyframes animation-card {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}