.load-screen {
  width: 100%;
  height: 100%;
  @include absolute(0, auto, auto, 0);
  background-color: rgba(0, 0, 0, .5);
  z-index: 9999;
  .spinner {
    width: 3.2rem;
    height: 3.2rem;
    position: fixed;
    margin: 24rem 0;
    left: calc(50% - 1.8rem);
    border: 4px solid rgba(255, 255, 255, .7);
    border-left-color: $primary;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}