table {
  width: 100%;
  margin: 1.5rem 0;
  th,
  td {
    width: auto;
    padding: 1rem .5rem;
    text-align: center;
    @include font(1.4rem, 300, 1.2em);
    color: $black;
    b,
    strong {
      font-weight: 900;
    }
  }
  th {
    text-transform: uppercase;
    font-weight: 900;
  }
  @include xs {
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 1.5rem;
    }
    th,
    td {
      width: 100%;
    }
    td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
      &:before {
        content: attr(data-label);
        float: left;
        font-weight: 900;
        text-transform: uppercase;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.table-seu-carrinho {
  margin: 0;
  margin-bottom: 3rem;
  thead {
    background-color: $secondary;
    th {
      color: $white;
    }
  }
  td,
  th {
    &:first-child {
      text-align: left;
      padding-left: 1.5rem;
      @include xs {
        text-align: right;
        padding-left: 50%;
      }
    }
    &:nth-child(4) {
      text-align: right;
    }
    &:last-child {
      width: 6rem;
      text-align: right;
    }
  }
  td {
    select {
      background-color: #f3f3f3;
      @include font(1.4rem, 300, 1em);
      border-radius: 3px;
    }
    &:first-child {
      span {
        &:first-child {
          display: block;
          font-size: 1.4rem;
          font-style: italic;
        }
        &:nth-child(2) {
          font-weight: 900;
          text-transform: uppercase;
        }
      }
    }
  }
  .row-calendar {
    td {
      padding-top: 1.5rem;
      @include flex(row, flex-start, center, center);
    }
    i {
      display: inline-block;
      height: 2rem;
      img {
        height: 100%;
      }
    }
    span {
      color: $primary;
      font-weight: 900;
      margin-left: 1.5rem;
      margin-bottom: 0;
    }
  }
  .item-delete {
    a {
      width: 2rem;
      display: inline-block;
      img {
        width: 100%;
      }
    }
  }
  @include xs {
    tbody {
      tr {
        margin-bottom: 4rem;
      }
      td {
        position: relative;
        padding-left: 50%;
        &::before {
          @include font(1.4rem, 900, 1em);
          position: absolute;
          left: .5rem;
        }
        &:nth-child(1) {
          &:before {
            content: 'Experiências';
          }
        }
        &:nth-child(2) {
          &:before {
            content: 'Preço';
          }
        }
        &:nth-child(3) {
          &:before {
            content: 'Quantidade';
          }
        }
        &:nth-child(4) {
          &:before {
            content: 'Sub-Total';
          }
        }
      }
    }
  }
}

.table-detalhes-compra {
  @include flex(row, space-between, center, center);
  tr {
    @include flex(column, center, flex-start, flex-start);
    th,
    td {
      padding: 1rem 1.5rem;
    }
  }
  tbody {
    margin-left: .8rem;
    tr {
      @include flex(column, center, flex-end, flex-end);
    }
  }
  @include xs {
    thead {
      width: auto;
      height: auto;
      position: relative;
      th {
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
    }
    tbody {
      margin-right: 0;
    }
  }
}