table {
  width: 100%;
  margin: 1.5rem 0;
  th,
  td {
    width: auto;
    padding: 1rem .5rem;
    text-align: center;
    @include font(1.4rem, 300, 1.2em);
    color: $black;
    b,
    strong {
      font-weight: 900;
    }
  }
  th {
    text-transform: uppercase;
    font-weight: 900;
  }
  @include xs {
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 1.5rem;
    }
    th,
    td {
      width: 100%;
    }
    td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
      &:before {
        content: attr(data-label);
        float: left;
        font-weight: 900;
        text-transform: uppercase;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}