// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  height: auto;
  position: relative;
  font-family: $font-01;
  overflow-x: hidden;
}

section {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

a,
a:active,
a:focus {
  color: $secondary;
  text-decoration: none;
  transition: all .3s ease-out;
}

.page-container {
  position: relative;
  min-height: 100vh;
  padding-top: 8rem;
}

.content-wrap {
  padding-bottom: 48rem;
  .row {
    @include flex(row, center, flex-wrap, flex-wrap);
  }
  @include sm {
    padding-bottom: 55rem;
  }
  @include xs {
    padding-bottom: 90rem;
  }
  /* Footer height */
}

.cofinanciado-portugal {
  margin: 0 auto;
  .row {
    @include flex(column, center, center, center);
  }
  a {
    text-align: center;
  }
  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 10px;
  }
}