// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  height: auto;
  position: relative;
  font-family: $font-01;
}

section {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

a,
a:active,
a:focus {
  color: $secondary;
  text-decoration: none;
  transition: all .3s ease-out;
}

.page-container {
  position: relative;
  min-height: 100vh;
  // overflow-x: hidden;
}

.content-wrap {
  padding-bottom: 16rem;
  .row {
    @include flex(row, center, flex-wrap, flex-wrap);
  }
  @include sm {
    padding-bottom: 25rem;
  }
  /* Footer height */
}