body {
  color: $black;
  // font: normal 125% / 1.4 $text-font-stack;
}

p {
  color: $black;
}

h1 {
  @include font(3.2rem, 300, 1.2em);
  color: $black;
  text-transform: uppercase;
  text-align: center;
  strong {
    font-weight: 900;
  }
  @include xs {
    font-size: 2.5rem;
  }
}

h2 {
  @include font(2.8rem, 300, 1.4em);
  color: $black;
  text-align: center;
  text-transform: uppercase;
  strong {
    font-weight: 900;
  }
  @include xs {
    font-size: 2rem;
  }
}

h3 {
  @include font(1.8rem, 300, 1.4em);
  color: $black;
  text-align: center;
  strong {
    font-weight: 900;
  }
  @include xs {
    font-size: 1.6rem;
  }
}