body {
  color: $black;
  // font: normal 125% / 1.4 $text-font-stack;
}

h1 {
  @include font(3.2rem, 300, 1.2em);
  color: $black;
  text-transform: uppercase;
  text-align: center;
  strong {
    font-weight: 900;
  }
}

h2 {
  @include font(2.4rem, 300, 1.4em);
  color: $black;
  text-align: center;
  text-transform: uppercase;
  strong {
    font-weight: 900;
  }
}

h3 {
  @include font(1.6rem, 300, 1.4em);
  color: $black;
  text-align: center;
  strong {
    font-weight: 900;
  }
}