// _____font
$font-01: 'Lato',
sans-serif;
;
// _____color
$white: #FFFFFF;
$gray-01: #AFAFAF;
$gray-02: #707070;
$black: #1D1D1B;
$primary: #8D1C22;
$primary-dark: #5E1216;
$secondary: #1C8D87;
$secondary-dark: #38706D;
/// Container's maximum width
/// @type Length
$max-width: 1640px !default;
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ( 'small': 320px, 'medium': 768px, 'large': 1024px, ) !default;