// _____font
$font-01: 'Lato',
sans-serif;
;
// _____color
$white: #FFFFFF;
$white-secondary: #F7F7F7;
$gray-01: #CCCCCC;
$gray-02: #707070;
$black: #1D1D1B;
$primary: #8D1C22;
$primary-dark: #5E1216;
$secondary: #1C8D87;
$secondary-dark: #38706D;
$experience-2: #FFB4AB;
$experience-3: #8F6D4F;
$experience-6: #939598;
$experience-prata:#3D7CC9;
$experience-wine:#AB0033;
$experience-cork:#DD8A03;
$experience-fashion:#FF5100;
$experience-vessels:#00C4B3;
$experience-chocolate:#F6E948;
/// Container's maximum width
/// @type Length
$max-width: 1640px !default;
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ( 'small': 320px, 'medium': 768px, 'large': 1024px, ) !default;